<div class="container-fluid app">
    <div class="row">
        <div class="col-lg-7 offset-lg-1">
            <div class="form-group">
                <h2>Simple Calculator</h2><br /><br />

                <p>First Value </p>
                <input 
                    type="text" 
                    class="form-control" 
                    (blur)="value_1 = $event.target.value" 
                    [(ngModel)]="firstValueField"><br /><br />

                <p>Second Value </p>
                <input 
                    type="text" 
                    class="form-control" 
                    (blur)="value_2 = $event.target.value"
                    [(ngModel)]="secondValueField"><br /><br />

                <button 
                    class="btn btn-primary clear" 
                    (click)="clear()">
                    AC
                </button>&nbsp;

                <span 
                    *ngFor="let operator of operators" 
                    (click)="doMath(operator)">
                    <button 
                        class="btn btn-secondary operatorButton">
                        {{operator}}
                    </button>&nbsp;
                </span>

                <span id="equal"> = </span>
                <label id ="result">{{result}}</label><br /><br />
            </div>
        </div>
    </div>
</div><hr />