<div class="row">
  <div class="col-md-5">
    <h4>Component Controls</h4>
    <button 
      class="btn btn-primary" 
      (click)="create()" 
      [disabled]="disableCreate">
      Create
    </button>
    <button 
      class="btn btn-primary" 
      (click)="destroy()"
      [disabled]="!someCreated || (someCreated && !canDestroy)">
      Destroy
    </button>
    <button 
      class="btn btn-secondary" 
      (click)="pause()"
      [disabled]="!disableCreate">
      Pause
    </button><!--; someCreated = false-->
    <button 
      class="btn btn-danger" 
      (click)="reset()">
      Reset
    </button>
  </div>
  <div class="col-md-7">
    <mat-speed-slider
      class="center"
      (outputValue)="speedChange($event)">
    </mat-speed-slider>
  </div>
</div>