<div class="row">
  <div class="col-md-5">
    <h4>Component Controls</h4>
    <button 
      class="btn btn-primary" 
      (click)="create()" 
      [disabled]="createBtn">
      Create
    </button>
    <button 
      class="btn btn-primary" 
      (click)="destroy()"
      [disabled]="destroyBtn">
      Destroy
    </button>
    <button 
      class="btn btn-secondary" 
      (click)="pause(1)"
      [disabled]="pauseBtn">
      Pause
    </button>
    <button 
      class="btn btn-danger" 
      (click)="reset(true)">
      Reset
    </button>
  </div>
  <div class="col-md-7">
    <mat-speed-slider
      class="center"
      (outputValue)="speedChange($event)">
    </mat-speed-slider>
  </div>
</div>