/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

body {
    color: white;
    background-color: black;
}

/* Component Templates*/
.app { margin: 100px 0; }
hr { background-color:white; }

/* ConditionalRadioButton, BobsPizza */
.mat-radio-outer-circle, 
.mat-checkbox-frame { border-color: #ffffff; }

.mat-grid-tile .mat-figure {
    justify-content: flex-end !important;
}