/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

body {
    color: white;
    background-color: black;
}

/* Component Templates*/
.app { margin: 100px 0; }
hr { background-color:white; }

/* ConditionalRadioButton, BobsPizza */
.mat-radio-outer-circle, 
.mat-checkbox-frame { border-color: #ffffff; }

/* Bob's Pizza */
.mat-grid-tile .mat-figure { justify-content: flex-end !important; }

/* Days Between Dates */
.mat-input-element { caret-color:white; }
.mat-datepicker-toggle-default-icon, 
.mat-form-field-appearance-legacy 
.mat-form-field-label, 
.mat-form-field.mat-focused 
.mat-form-field-label { color: white; }
.mat-form-field-appearance-legacy 
.mat-form-field-underline, 
.mat-form-field.mat-focused 
.mat-form-field-ripple { background-color: white; }